.button {
    -fx-font-weight: bold;
}

.button {

    -fx-border-color: #02A2EF;
	-fx-background-color: #5BC1F2;

}
.button:hover, .button:focus, .button:active {
    -fx-background-color: #22AEF1;
    -fx-border-color: #02A2EF;    
}

.pane{
    -fx-background-color: white;

}

.input{
    -fx-padding: 1 1 1 1;
    -fx-border-bottom: solid 1px #f50000;
    -fx-background-color: #f50000;
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0 ;
   
}

.input:focused{
    -fx-background-color: -fx-focus-color, -fx-background;
}
