.button {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #2B476F;

}
.button:hover, .button:focus, .button:active {
    -fx-background-color: #132C51;   
}

.pane{
    -fx-background-color: white;
}

.input{
    -fx-padding: 1 1 1 1;
    -fx-border-bottom: solid 1px #FFFFFF;
    -fx-background-color: #FFFFFF;
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0 ;
   
}

.input:focused{
    -fx-background-color: -fx-focus-color, -fx-background;
}

.anchor1, #anchor1{
    -fx-background-color: linear-gradient(to right top, #051937, #00466e, #007895, #00ac9f, #3bdd8e);
}  